html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}
canvas {
    position:absolute;
    left:0px;
    top:0px;
}


.mobileButtons{
    position: absolute;
    left: 9%;
    top: 5%;
    opacity: 0.1;
}
.btn{
    background: transparent;
    border: none;
    outline:none;
}

.vert{
    height: 25vh;
    width: 80vw;
}

.hoz{
    height: 25vh;
    width: 40vw;
}

.down{
    transform: rotate(180deg);
}
.left{
    transform: rotate(-90deg);
}
.right{
    transform: rotate(90deg);
}
.hide{
    display: none;
}

@media only screen  and (min-width : 1224px) {
    .mobileButtons{
        display: none;
    }
}